@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Source+Sans+Pro');
/*font-family: 'Open Sans Condensed', sans-serif;*/
/*font-family: 'Source Sans Pro', sans-serif;*/

        html{
            width: 100%;
            height: 100%;
        }
        
        body{
            width: 100%;
            height: 100%;
            position: relative;
            background-color:white;
            font-size: 50px;
            margin: 0;
            content: "";
            display: table;
            clear: both;
        }
       h1,h2{
           font-family: 'Open Sans Condensed', sans-serif;
           margin: 0;
           text-align: center;
           color:white;
           font-size: 1.5em
       }      
              
       nav { 
           list-style-type:none;
           width: 100%;
           /*background-color: white;*/
           margin: 0;
           /*padding-top: 20px;*/
           /*padding-bottom: 20px;*/
         text-align: center;
         font-family: 'Source Sans Pro', sans-serif;
         z-index: 1000;
         

       }
       header{
           background-color: black;
       }
       nav li{
           margin:0 5px;
           display:inline-block;
           
       }
       
       nav a {
           padding: 0 25px;
           /*background-color:lightyellow;*/
           border-width:5px;
           /*border-style:solid;*/
           text-decoration: none;
           color:white;
          background-color: black;

       }
       nav a:hover {
           /*padding: 5px;*/
           /*background-color:lightyellow;*/
           /*border-width:5px;*/
           /*border-style:dashed;*/
       }
       footer{
        display: flex;
        justify-content:space-around;
        background-color: black;
        width: 100%;
        clear: both;
        position: absolute;
        bottom: 0;
       }
        main{
            text-align: center;
            position: relative;
            /*height: 100%;*/
            margin: 5%;
            max-height: 100%;
            padding-bottom: 5em;
            color: white;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        img {
            height: 250px;
        }
       
       ul{
           display: inline;
       }
        
       a:link{ 
           color:white;
           background-color: black;
           /*font-weight:bold;*/
           
       }
       
       a:visted{
           color:white;
           background-color: black;
       }

       a:hover{
           color:black;
           background-color: white;
       }
       
       a:active{
           color:red;
           
       }
       .icon {
    display: none;
}
       
@media screen and (max-width:1126px) {
    ul.nav li:not(:first-child) {
        display: none;
    }
    .icon {
        /*float: right;*/
        display: inline-block;
    }
}
@media screen and (max-width:1126px) {
    ul.nav li.icon {
        float: right;
      margin-right:20px;
        display: inline-block;
    }
}
@media screen and (max-width:1126px) {
    ul.nav.responsive {
        position: relative;
    }
    .icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}


.stickynav{
  position:fixed;
  top:0;
  left:0;  
  background-color: black;
}

.active{
  color:black;
  background-color:white;
}

i{
    color:white;
    text-align: center 
}
.fa:hover{
    color: white;
}
.footer-icon:hover{
    background-color: black;
}


.section{
    height: 100%;
    width: 100%;
    background-color: black;
    /*margin: 5% auto;*/
    position: relative;
    margin-bottom: 70px;
    padding-top: 4%;

}